# Build outputs
*.obj
*.pdb
*.exp
*.lib
*.ilk
*.tlog
x64/
Debug/
Release/
artifacts/

# VS files
.vs/
*.vcxproj.user
*.suo
*.user

# Temp
*.tmp
screenshot.ps1
.gitignore
sign_driver.ps1
sign_catalog.ps1
screen.png
.gitignore
query
run_sys.bat
test_logon.ps1
